.footer{
    display: flex;
    padding: 30px 20px;
    background-color: #26272b;

    .about{
        width: 500px;
    }
    .title{
        color: #fff;
        font-size: 1.2rem;
    }
    .content-list{
        padding-left: 0;
        list-style: none;
        .content{
            font-size: 1rem;
            padding: 4px 0;

            .content-link{
                text-decoration: none;
                color: #8f8f8f;
            }
            .content-link:hover{
                color: #fff;
            }
        }
        
    }
}